<component name="ArtifactManager">
  <artifact type="war" name="MyBatisTemplate:war">
    <output-path>$PROJECT_DIR$/MyBatisTemplate/target</output-path>
    <root id="archive" name="MybatisDemo.war">
      <element id="artifact" artifact-name="MyBatisTemplate:war exploded" />
    </root>
  </artifact>
</component>